@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  overflow-y: scroll; /* reserva espaço pra scrollbar sempre, mesmo se não aparecer */
}

body {
  background-color: var(--bg);
  font-family: "fredoka";
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--color-primary-400);
  font-size: 25px;
  padding: 15px 0px 0px 0px;
  text-align: center;
}

h2 {
  color: var(--color-primary-400);
  font-size: 20px;
  font-family: var(--font-family-nunito);
  padding-top: 20px;
}

.section-block {
  height: 100%;
}

:root {
  --color-primary-100: #ceb9b2;
  --color-primary-200: #a78b82;
  --color-primary-300: #8d6f65;
  --color-primary-400: #644A41;
  --color-primary-500: #523c35;
  --color-primary-800: #3C2B25;
  --color-primary-900: #271c18;
  --bg: #F1E4D6;
  --bg-light-100: #FFFFFF;
  --bg-light-200: #E9DDD7;
  --btn-bg: #F7D9C4;
  --btn-color: #926d54;
  --btn-color-border: #E6B8A2;
  --btn-color-box-shadow: #D1A58A;
  --bg-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  --font-family-fredoka: "Fredoka", "Open Sans";
  --font-family-nunito: "Nunito", "Open Sans";
}

.container {
  width: 100%;
  max-width: 360px;
  height: 90vh;
  background-color: var(--bg-light-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--bg-box-shadow);
  box-sizing: border-box;
  overflow-y: auto;
  margin: auto;
}

hr.top-line {
  border: none;
  height: 1px;
  background-color: var(--color-primary-100);
  margin: 20px 0 20px;
}

div.feed-midia img {
  width: 360px;
  border-top: 1px solid var(--color-primary-200);
  border-bottom: 1px solid var(--color-primary-200);
  border-left: none;
  border-right: none;
}

.unit-box.home img {
  width: 200px;
  padding: 10px 0 10px;
}

.btn-group.initial div {
  padding: 20px;
}
.btn-group.initial div.skip {
  float: right;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 16px 0px;
}

.auth-form input {
  height: 40px;
  padding: 3px 10px;
  font-size: 14px;
  background-color: var(--bg-light-200);
  color: var(--color-primary-300);
  font-weight: 800;
  border: 1.5px solid var(--color-primary-200);
  border-radius: 8px;
  font-family: var(--font-family-nunito);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input::placeholder {
  color: var(--color-primary-300);
  font-weight: 600;
  font-family: var(--font-family-nunito);
}

.auth-form input:focus {
  border-color: var(--color-primary-400);
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary-200);
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border: 2px solid var(--btn-color-border);
  border-radius: 12px;
  padding: 10px 20px;
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px var(--btn-color-box-shadow);
  transition: all 0.2s ease;
}

.btn-bottom {
  background-color: var(--bg-light-200);
  color: var(--color-primary-300);
  border: 1.5px solid var(--color-primary-200);
  border-radius: 12px;
  padding: 10px 20px;
  font-family: var(--font-family-fredoka);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px var(--color-primary-200);
  transition: all 0.1s ease;
  position: relative;
}

.btn-group {
  text-align: center;
}
.btn-group a {
  font-weight: 600;
}

.btn-group.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 25px;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 16px;
  padding: 20px;
}
.footer-bar i {
  cursor: pointer;
  color: var(--color-primary-400);
  transition: 0.2s ease;
}

.header-bar {
  position: relative;
  padding: 10px;
}
.header-bar i {
  color: var(--color-primary-400);
  position: absolute;
  right: 10px;
  top: 58%;
  cursor: pointer;
}

.unit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unit-box.auth img {
  width: 100px;
  padding: 5px 0 7px;
}

@media (max-width: 400px) {
  .unit-box.auth img {
    width: 90px;
  }
}
.btn {
  transition: all 0.1s ease;
  position: relative;
}

.btn:active {
  box-shadow: inset 2px 2px 3px var(--btn-color-box-shadow);
  top: 2px;
  left: 1px;
}

.btn-bottom:active {
  box-shadow: inset 2px 2px 3px var(--color-primary-200);
  top: 2px;
  left: 1px;
}

.footer-bar i:hover {
  color: var(--color-primary-800);
  transition: 0.3s ease;
}

.header-bar i:hover {
  color: var(--color-primary-800);
}

/*# sourceMappingURL=style.css.map */
