.footer-bar i:hover {
  color: var(--color-primary-800);
  transition: 0.3s ease;
}
  
.header-bar i:hover {
  color: var(--color-primary-800);
}

.btn:active {
  box-shadow: inset 2px 2px 3px var(--btn-color-box-shadow);
}