.container {
    width: 360px;
    height: 700px;
    background-color: var(--bg-light-100);
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--bg-box-shadow);
  }