

hr.top-line {
    border: none;
    height: 1px;
    background-color: var(--color-primary-100);
    margin: 20px 0 20px;
  }

div.feed-midia img {
    width: 360px;
    border-top: 1px solid var(--color-primary-200);
    border-bottom: 1px solid var(--color-primary-200);
    border-left: none;
    border-right: none;
}