* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  overflow-y: scroll; /* reserva espaço pra scrollbar sempre, mesmo se não aparecer */
}

body {
  background-color: var(--bg);
  font-family: "fredoka";
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
    color: var(--color-primary-400);
    font-size: 25px;
    padding: 15px 0px 0px 0px;
    text-align: center;
}

h2 {
  color: var(--color-primary-400);
  font-size: 20px; 
  font-family: var(--font-family-nunito);
  padding-top: 20px;

}

.section-block {
  height: 100%;
}

// sass --watch scss/styles.scss:css/style.css

// separar a estrutura do visual dos btn;
// fixar o btn da aba entrar na parte inferior;
// tirar o background color do feed.