:root {
  --color-primary-100: #ceb9b2;
  --color-primary-200: #a78b82;
  --color-primary-300: #8d6f65;
  --color-primary-400: #644A41;
  --color-primary-500: #523c35;
  --color-primary-800: #3C2B25;
  --color-primary-900: #271c18;
  --bg: #F1E4D6;
  --bg-light-100: #FFFFFF;
  --bg-light-200: #E9DDD7;
  --btn-bg: #F7D9C4;
  --btn-color: #926d54;
  --btn-color-border: #E6B8A2;
  --btn-color-box-shadow: #D1A58A;
  --bg-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  --font-family-fredoka: "Fredoka", "Open Sans";
  --font-family-nunito: "Nunito", "Open Sans";
}

 
