.header-bar {
    position: relative;
    padding: 10px;

    i {
        color: var(--color-primary-400);
        position: absolute;
        right: 10px;
        top: 58%;
        cursor: pointer;
    }
}

h1 {
    color: var(--color-primary-400);
    font-size: 25px;
    padding: 15px 0px 0px 0px;
    text-align: center;
}