.header-bar {
    position: relative;
    padding: 10px;

    i {
        color: var(--color-primary-400);
        position: absolute;
        right: 10px;
        top: 58%;
        cursor: pointer;
    }
}